.loginWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color:#181823;
}


.loginContainer{
  width: 100%;
  max-width: 22.5rem;
  display: flex;
  flex-direction: column;
  background-color: #1F2029;
  padding: 1rem;
  border-radius: 0.5rem;
  label {
    color: #FFFFFF;
  }

  label+input {
    margin: 0.5rem 0 1rem 0;
  }

  input {
    background: #D1D2DC;
    padding-inline: 1rem 0;
    height: 3rem;
    border-radius: 0.5rem;
    outline: 2px solid transparent;
    border: 0;
    outline-offset: 2px;
    font-size: 1rem;
  }

  button {
    margin-top: 1rem;
    background: var(--pink);
    border: 0;
    color: #FFFFFF;
    height: 3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}